.surchargeButton {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    width: auto;
}
.surchargeData {
    color: rgb(var(--venia-global-color-green-500));
    font-weight: 600;
    margin-right: 20px;
}
